<footer class="footer">
    <div class="content">
        <div class="info footer__info">
            <div class="info__phone">
                <div class="info__title">Телефон</div>
                <div class="info__text"><a href="tel:+375123456789">+375 12 345 67 89</a></div>
            </div>
            <div class="info__email">
                <div class="info__title">
                    Email
                </div>
                <div class="info__text"><a href="mailto:ourmail@gmail.com">ourmail@gmail.com</a></div>
            </div>
        </div>
        <div class="social">
            <img src="/assets/img/social-tiktok-large.svg" alt="tiktok">
            <img src="/assets/img/social-vk-large.svg" alt="vk">
            <img src="/assets/img/socail-telegram-large.svg" alt="telegramm">
        </div>
    </div>
    <div class="logo footer__logo">Super Quiz</div>
</footer>