<header class="header">
    <div class="logo header__logo">Super Quiz</div>

    <nav class="menu header__menu" id="main-menu">
        <a class="menu__item menu__item_active" href="#main">Главная</a>
        <a class="menu__item" href="#quiz">Квиз</a>
        <a class="menu__item" href="#reviews">Отзывы</a>
        <div class="submenu">
            <span class="menu__item submenu__anchor">Не главная</span>
            <nav class="submenu__list">
                <button class="submenu__item">Подпункт</button>
                <button class="submenu__item">Ещё подпункт</button>
                <button class="submenu__item">И ещё подпункт</button>
            </nav>
        </div>
    </nav>

    <button class="button" data-dialog="contact-dialog">Связаться с нами</button>

    <div class="social header__social">
        <img class="social__icon" src="/assets/img/social-tiktok.svg" alt="TikTok" title="TikTok"/>
        <img class="social__icon" src="/assets/img/social-vk.svg" alt="VK" title="VK"/>
        <img class="social__icon" src="/assets/img/social-telegram.svg" alt="Telegram" title="Telegram"/>
    </div>
</header>
