<section class="quiz" id="quiz">
    <nav class="slide-nav">
        <hgroup class="slide-nav__item slide-nav__item_active" data-slide="1">
            <h3 class="slide-nav__item-name">
                Какие виды тестов вам нравятся?
            </h3>
            <p class="slide-nav__item-value">
                Кто я из вселенной Марвел, На словарный запас
            </p>
        </hgroup>

        <hgroup class="slide-nav__item slide-nav__item_hidden" data-slide="2">
            <h3 class="slide-nav__item-name">
                Вы любите проходить тесты?
            </h3>
            <p class="slide-nav__item-value">
                Да, я прохожу все тесты
            </p>
        </hgroup>

        <hgroup class="slide-nav__item slide-nav__item_hidden" data-slide="3">
            <h3 class="slide-nav__item-name">
                Спасибо за ответы! Заполните форму ниже
            </h3>
            <p class="slide-nav__item-value"></p>
        </hgroup>
    </nav>

    <import template="/slides/1.html" class=""></import>
    <import template="/slides/2.html" class="slide_hidden"></import>
    <import template="/slides/3.html" class="slide_hidden"></import>

</section>