<section class="carousel" id="reviews">

    <import template="/card.html" class="carousel__card"
            avatar="/assets/img/avatar1.jpg" title="Тимур Никитенко">
        Мне очень понравился тест.
    </import>

    <import template="/card.html" class="carousel__card"
            avatar="/assets/img/avatar2.jpg" title="Андрей Пархимович">
        В целом, конечно, постоянное информационно-пропагандистское 
        обеспечение нашей деятельности влечет за собой процесс 
        внедрения и модернизации направлений прогрессивного развития.
        В целом, конечно, постоянное информационно-пропагандистское 
        обеспечение нашей деятельности влечет за собой процесс 
        внедрения и модернизации направлений прогрессивного развития.
    </import>

    <import template="/card.html" class="carousel__card"
            avatar="/assets/img/avatar1.jpg" title="Тимур Никитенко">
        Господа, глубокий уровень погружения в значительной степени 
        обусловливает важность глубокомысленных рассуждений.
    </import>

    <import template="/card.html" class="carousel__card"
            avatar="/assets/img/avatar3.jpg" title="Артур Усович">
        Задача организации, в особенности же убеждённость некоторых 
        оппонентов предопределяет высокую востребованность благоприятных 
        перспектив.
    </import>

    <import template="/card.html" class="carousel__card"
            avatar="/assets/img/avatar2.jpg" title="Егор Грей">
        Разнообразный и богатый опыт говорит нам, что высокое качество 
        позиционных исследований предопределяет высокую 
        востребованность кластеризации усилий.
    </import>

</section>