<div class="splash" id="main">
    <h1 class="splash__title">Это Супер-квиз!</h1>
    <p class="splash__text">Пройди квиз, и будешь счастлив. Этот квиз предназначен для тех людей, которые любят проходить тесты!</p>
    <button class="button">Пройти супер-квиз</button>
</div>

<div class="react">
    <button class="button react__button" data-score="wonderful">😋 Восхитительно</button>
    <button class="button react__button" data-score="great">😎 Лучше не бывает</button>
    <button class="button react__button" data-score="more">😍 Где найти еще?</button>
    <button class="button react__button" data-score="neat">🤩 В натуре четко!</button>
    <button class="button react__button" data-score="cool">😍 Круто</button>
</div>
