<dialog id="contact-dialog" class="dialog">
    <button class="close-btn dialog__close">&times;</button>
    <h2 class="dialog__title">Заполните контактные данные</h2>
    <p class="dialog__text">Пройди квиз, и будешь счастлив. Этот квиз предназначен для тех людей, которые любят проходить тесты!</p>
    <fieldset>
        <input type="text" name="name" placeholder="Ваше имя"/>
        <input type="text" name="name" placeholder="Фамилия"/>
        <input type="text" name="name" placeholder="Ваш комментарий"/>
    </fieldset>
    <p class="dialog__text">Этот квиз предназначен для тех людей, которые любят проходить тесты!</p>
    <fieldset>
        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Не знаю
            </span>
        </label>
            
        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Увидел это
            </span>
        </label>

        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Вон то
            </span>
        </label>
            
        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Вон то
            </span>
        </label>

        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Увидел это
            </span>
        </label>

        <label class="choice">
            <input type="radio" name="radio-group">
            <span class="choice__checkmark">
                <span class="choice__ring"></span>
                Не знаю
            </span>
        </label>
        
    </fieldset>

    <button class="button dialog__next dialog__close" data-dialog="completed-dialog">Продолжить</button>
</dialog>
