<article class="slide {{ class }}" data-slide="1">
    <h2 class="slide__title">Какие виды тестов вам нравятся?</h2>
    <p class="slide__text">
        Многие из нас хоть раз попадались на эту удочку — хочешь
         пройти всего один тест из интернета, и вдруг понимаешь, что
         пролетело полдня.
    </p>

    <fieldset class="quiz-choice" data-order="1">
        <import template="/checkbox.html" name="1">На темперамент</import>
        <import template="/checkbox.html" name="2">Кто я из вселенной Марвел</import>
        <import template="/checkbox.html" name="3">Увидел это</import>
        <import template="/checkbox.html" name="4">Мое тотемное животное</import>
        <import template="/checkbox.html" name="5">На IQ</import>
        <import template="/checkbox.html" name="6">На словарный запас</import>
        <import template="/checkbox.html" name="7">На логическое мышление</import>
        <import template="/checkbox.html" name="8">На уровень интеллекта</import>
    </fieldset>

    <div  class="slide__nav-buttons">
        <button class="button">Продолжить</button>
    </div>
</article>
