<article class="slide {{ class }}" data-slide="2">
    <h2 class="slide__title">Вы любите проходить тесты?</h2>
    <p class="slide__text">
        Нам важно узнать насолько часто Вы проходите тесты.
    </p>

    <fieldset class="quiz-choice" data-order="1">
        <import template="/radiobutton.html" value="1">Нет, я не никогда не прохожу тесты</import>
        <import template="/radiobutton.html" value="2">Да, я прохожу все тесты</import>
        <import template="/radiobutton.html" value="3">Заставляю себя проходить тесты</import>
        <import template="/radiobutton.html" value="4">Не люблю проходить тесты, но иногда приходится</import>
    </fieldset>

    <div class="slide__nav-buttons">
        <button class="button slide__nav-buttons_back">Назад</button>
        <button class="button">Продолжить</button>
    </div>
</article>